
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/DEBIT/Views/Shared/_DebitLayout.cshtml";
}

<h2>Create</h2>


<div class="col-md-12">
    <div class="col-md-6">
        <input id="txtUser" type="text" />

    </div>
    <div class="col-md-6">
        <input id="Text1" type="text" />
    </div>

    <div class="col-md-6">
        <input id="Button1" type="button" value="button" />
       
    </div>
</div>